
        * {
        	margin: 0;
        	padding: 0;
        }
        
        #clock {
        	position: relative;
        	width: 300px;
        	height: 300px;
        	margin: 0px auto 0px auto !important;
        	background: url(img/clockface.png);
        	list-style: none;
			float:left;
			border:none !important;
			top:-340px;
			left:720px;
        	}
			
        	
        #reflection {
        	position: relative;
        	width: 300px;
        	height: 300px;
        	margin: 0px auto 0 auto;
        	background-image: url(img/reflection.png) !important;
        	list-style: none;
        	z-index: 10;
			border:none !important;
			padding:0px 0px 0px 0px !important;
        	}

        
        #sec, #min, #hour {
        	position: absolute;
        	width: 30px;
        	height: 300px;
        	top: 0px;
        	left: 142px;
			border:none !important;
			padding:0px 0px 0px 0px !important;
        	}
        
        #sec {
        	background-image: url(img/sechand.png) !important;
			background-repeat:no-repeat;
			background-position:top center;
        	z-index: 3;
        	width: 21px;
			left: 140px;
}
           
        #min {
        	background-image: url(img/minhand.png) !important;
			background-repeat:no-repeat;
			background-position:top center;
        	z-index: 2;
        	width: 76px;
			left: 113px;
			top: -1px;
}
           
        #hour {
        	background-image: url(img/hourhand.png) !important;
			background-repeat:no-repeat;
			background-position:top center;
        	z-index: 1;
        	width: 46px;
			left: 127px;
			top: 0px;
}